{% extends 'block/main.html' %}
{% block content %}

    <div class="container-md">
        <div class="card col-4 center">
            <div class="container centered">
                <form class="form-horizontal" method="post">
                    {% csrf_token %}

                    {% for field in change_password_form %}
                        {% if field.errors %}
                            <div class="form-group has-error">
                        {% else %}
                            <div class="form-group">
                        {% endif %}
                    <label class="col-sm-4 control-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
                    <div class="col-sm-8">
                        {{ field }}
                        <p class="help-block">{{ field.help_text }}</p>
                        <p class="help-block">{{ field.errors }}</p>
                    </div>
                    </div>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="提交">
                </form>
            </div>
        </div>
    </div>

{% endblock %}