<div>
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">首页</a></li>
            <li class="nav-item"><a href="/creat_order/" class="nav-link px-2 text-muted">创建订单</a></li>
            <li class="nav-item"><a href="/user/{{ request.user }}/" class="nav-link px-2 text-muted">个人主页</a></li>
            <li class="nav-item"><a href="/admin/" class="nav-link px-2 text-muted">管理员后台</a></li>
        </ul>
        <p class="text-center text-muted">© 2023 骆明宇，鞠怀诚，顾贇峰组</p>
    </footer>
</div>